#camera-container {
    display: inline-block;
    width : 100%;
    overflow: hidden;
    background : #fff;
    margin-top : 2%;
}

#user-camera {
    overflow: scroll;
    width : 100%;
    height : 100%;
    margin-top : 50px;
    margin-bottom : 50px;
    padding : 0;
}

.terms-and-conditions-dialog {
    display: block;
    max-width : 75%;
}

.role-select-dialog {
    display : block;
    max-width: 60%;
}

#information-region {
    /*position : absolute;*/
    display: inline-block;
    height : 100%;
    width : 100%;
    padding : 12px;
    border-radius : 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#information-region td {
    padding : 8px;
    font-size : 20px;
}

#timer {
    font-size : 40px;
    margin-top : 20px;
    text-align: center;
}

#information-table {
    overflow : scroll
}

#container-table tr {
    width : 100%;
}

#vid-cell {
    width : 70%;
    padding : 8px;
}

#info-cell {
    width : 30%;
    font-size : 20px;
    padding : 8px
}

#button-panel {
    width : 100%;
}

#button-panel button {
    width : 100%;
}