#camera-container {
    margin : auto;
    height : 90vh;
    width : 80%;
    overflow: hidden;
}

#user-camera {
    overflow: scroll;
    margin : auto;
    height : auto;
    width : 100%;
    margin-top : 50px;
    padding : 0;
}

